.container-fluid{
    // border: 1px solid rgba(0,0,0,.125);
    font-size: 12px;
}

ul.list-group, li.list-group-item{
    border: none !important;
}

ul.list-subgroup{
    margin-left: 3em;
}

#folder-collapse{
    width: 31em;
    display: inline-block;
}

span.folder-name{
    padding-left: 20px;
}

span.open-folder-icon{
    padding-left: 20px;
    cursor: pointer;
}

span.folder-name{
    cursor: pointer;
}