<div class="container-fluid">
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item" id="folder-collapse" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <fa name="chevron-down" *ngIf="!isCollapsed"></fa>
        <fa name="chevron-up" *ngIf="isCollapsed"></fa>
        <span class="folder-name">Folders / Reports</span>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsed" *ngFor="let folder of folders; let i=index" class="list-group-item list-group-item-action" (click)="showSubcategories(folder.uri, $event)">
        <span class="close-folder-icon">
            <fa name="folder"></fa>
            <span class="folder-name">{{ folder.label }}</span>
        </span>

        <span class="open-folder-icon">
          <fa name="folder-open" placement="right" ngbTooltip="Show subcategories"></fa>
        </span>

        <ng-template #subCategories></ng-template>
     
      </li>
    </ul>
    <br>
  </div>
</div>