ul.list-subgroup{
    margin-left: 3em;
}

#folder-collapse{
    width: 100%;
    display: inline-block;
}

span.folder-name{
    padding-left: 20px;
}

span.open-folder-icon{
    padding-left: 20px;
    cursor: pointer;
}