
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    JASPER
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <fa name="folder" placement="top" ngbTooltip="Add category" (click)="openAdd()"></fa>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <fa name="edit" placement="top" ngbTooltip="Edit category"></fa>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <fa name="trash" placement="top" ngbTooltip="Delete category"></fa>
        </a>
      </li>
    </ul>
  </div>
</nav>
